<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo molestiae consequuntur fugit voluptatibus hic perspiciatis error, quibusdam ea voluptas sequi beatae delectus, nesciunt mollitia nostrum laboriosam pariatur. Nesciunt, officia eligendi.
        Quisquam aut consequatur labore maxime nobis atque nostrum nam nihil, ab adipisci voluptas pariatur natus porro facilis non eius veniam doloremque laudantium! Voluptatum corporis labore eum, repudiandae provident iusto dolor!
        Ipsa itaque ipsum ad et. Quae doloremque soluta dolor aspernatur qui, quam fugit, deleniti culpa iure dicta nostrum maiores ad neque hic et laborum fuga adipisci a incidunt nobis eius.
        Alias cum cumque voluptatum blanditiis a dolorem obcaecati animi, quos maxime officia possimus deleniti excepturi architecto, iure pariatur, voluptas nesciunt eum aliquam illum quo magni suscipit? Nobis esse fuga consectetur.
        Ducimus accusamus magni natus voluptas. Laudantium ea incidunt perferendis non repudiandae sed beatae amet vel nostrum, reiciendis quisquam dolor aliquam nesciunt mollitia consequuntur commodi eos fuga assumenda pariatur. Id, repudiandae!
        Ducimus beatae voluptatem dolorum maiores optio corporis. Labore eius a tenetur suscipit doloremque dolore atque? Laudantium quas consectetur molestias aut temporibus explicabo est aperiam autem, possimus sequi placeat adipisci voluptatem?.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>